* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: "Montserrat", sans-serif;
  overflow: hidden;
}

body {
  color: #25383c;
  background-color: ghostwhite;
}

#fullScreenContainer {
  display: flex;
  width: 100vw;
  height: 100vh;
  flex-direction: column;
}

#headingContainer {
  height: 25vh;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  overflow: visible;
  font-size: min(4vw, 4vh);
}

#headingContainer > h1 {
  text-align: center;
}

#clockContainer {
  height: 50vh;
  background-color: ghostwhite;
  display: flex;
  justify-content: center;
  align-items: center;
}

#buttonContainer {
  height: 25vh;
}

#clockBlock {
  position: relative;
}

#photoMask {
  position: relative;
  width: 100%;
  height: 100%;
  -webkit-mask-image: radial-gradient(circle, black 50%, rgba(0, 0, 0, 0) 50%);
  mask-image: radial-gradient(circle, black 50%, rgba(0, 0, 0, 0) 50%);
  z-index: 2;
}

#mellysPhoto {
  max-width: 100%;
  height: auto;
}

#outerLastFedCircle {
  position: absolute;
  left: 50%;
  top: 50%;
  border-radius: 50%;
  z-index: 1;
}

.segment {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100vw;
  height: 100vw;
  background: #a8e6cf;
  transform-origin: 0 0;
}

#outerLastPoopedCircle {
  position: absolute;
  left: 50%;
  top: 50%;
  border-radius: 50%;
  z-index: 0;
}

.segment2 {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100vw;
  height: 100vw;
  background: #ffaaa5;
  transform-origin: 0 0;
}

#innerLastPoopedCircle {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  border-radius: 50%;
  z-index: 0;
  background-color: ghostwhite;
}

#lastFed,
#lastPooped,
#now {
  position: absolute;
  transform: translate(-50%, -50%);
  background-color: ghostwhite;
  border: 2px solid #25383c;
  display: block;
  z-index: 4;
}

#now {
  padding: 8px;
  border-radius: 15px;
  font-weight: 600;
}

#lastFed,
#lastPooped {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.4rem;
}

#lastFed {
  color: green;
}

#lastPooped {
  color: brown;
}

.clockNumber {
  position: absolute;
  transform: translate(-50%, -50%);
  display: block;
  z-index: 3;
  color: white;
  text-shadow: 0px 0px 3px black, 0px 0px 3px black, 0px 0px 3px black;
}

#buttonContainer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  overflow: visible;
}

#mellyAte,
#mellyPooped {
  cursor: pointer;
  margin-top: -90px;
  border: 2px solid #25383c;
  border-radius: 30px;
  width: 40%;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-size: min(5vw, 5vh);
  overflow: visible;
  padding: 20px 0px;
}

#mellyAte {
  background-color: #a8e6cf7c;
}

#mellyPooped {
  background-color: #ffa9a581;
}

#mellyAte:hover {
  background-color: #a8e6cf;
}

#mellyPooped:hover {
  background-color: #ffa9a5;
}

#lastAteText,
#lastPoopedText {
  position: relative;
  font-size: min(2.5vw, 2.5vh);
  overflow: visible;
}

#icon {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
