<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Melly's App</title>
</head>

<body>
    <h1>Melly's App</h1>
    <div id="name">{{ melly.name }}</div>
    <div id="dob">{{ dob }}</div>
    <div id="age">{{ age }} years</div>
    <div id="breed">{{ breed }}</div>
    <div id="color">{{ color }}</div>
    <div id="weight">{{ melly.weight }} kg</div>
    <div class="fedCheck">{{ fedCheck }} hours since last fed</div>
    <div id="lastFed">{{ lastFed }}</div>
    <a href="updateLastFed/">Set last fed</a>
    <div class="poopedCheck">{{ poopedCheck }} hours since last pooped</div>
    <div id="lastPooped">{{ lastPooped }}</div>
    <a href="updateLastPooped/">Set last fed</a>
</body>

</html>